{% load footer_magic %}

<p>It's my understanding that you are reading this communication. It is also my understanding that this message has been opened {% ii 'num_times' %}  times thus far, not necessarily by you.</p>

<p>
<b>GIF START</b><br>
: You are currently reading it for the {% ii 'num_times' %} time on this {% ii view.ip %} IP address in {% ii view.location %}.<br>
<b>GIF BREAK</b><br>
: The other instances of this receipt were on {% ii 'date/time' %} on this IP {% ii view.ip %}, which is located {% ii view.location %}.<br>
<b>GIF BREAK</b><br>
ETC.<br>
<b>LOOP GIF</b><br>
</p>

<p>Here is what else I know about the origins of the message: this message was opened in {% ii view.user_agent %} and sent via Microsoft Exchange 2016 servers behind a Barracuda firewall onsite at the Whitney Museum of American Art at <a href="map">99 Gansevoort St, New York, NY 10014, USA</a>. Those servers are physically located directly in the center of the museum on floor four behind many proximity readers and keyed-access doors. The servers are maintained by vendors such as Cisco and Dell Enterprise Services and the team of the internal Whitney Museum of American Art IT Department. There is a generous universal power supply battery backup and diesel generator energy reserve power redundancy system running as a failsafe. In case of flood, there is a flood wall that can be installed around the museum to protect the generator and maintain the safety of the the museum's property investment.</p>

<p>Thus far, this communication has traveled a distance of {% ii 'distance_km' %}km/{% ii 'distance_mi' %}miles from its origin to its multiple receipts. It will rest on servers at {% ii 'resting_place' %}.</p>

<img src="{{ view.ga_image_url }}" />
