{% load footer_magic %}

<p style="font-family: {{ view.styles.font_family }}; font-size: {{ view.styles.font_size }}; color: {{ view.styles.font_color }}; line-height: 1.4em;"</p>
{% leader 'start' %}<br>
Time of This Receipt: {% ii 'timestamp' %}<br>
Location of Recipient: {% ia 'location_animation' %}<br>
Accuracy Radius: {% ii 'location_accuracy' %} 
  <a href="{{ request.scheme }}://{{ request.get_host }}{% url 'map' %}">Map</a><br>
Recipient Agent: {% ii 'user_agent' %}<br>
<img src="{{ view.ga_image_url }}" /><br>
</p>

