<!doctype html>
<html>
    <head>
        <title>Footer Test v0.2</title>
    </head>
    <body style="
        font-family:monospace; 
        font-size: medium;
        width: 40em;
        border: 1px solid blue;
        padding: 2%;
        margin: 4% auto;">

       <h2 style="margin-top: 0.1em">Email preview</h2>
       {% include 'email.html' %}

       <p><br><hr><br></p>

       <h2>Send a test email</h2>
       <form action="/email" method="POST">
           <p>
           <input name="email"
                  type="text" 
                  placeholder="youremail@example.org"
                  style="width:95%" />
           </p>
           <p>
           <input type="submit" value="Send!"> 
           </p>
       </form>

       <p><br><hr><br></p>

       <h2>Image preview</h2>

       <div style="text-align:center; background: #eee; width: 100%; margin: 0 auto;">
           <p>[-- text before image --]<br><br></p>
           <p>
           <img src="{% url 'test_image' %}?id={{ uuid }}" 
                title="Request data as image"
                alt="This should be an image with HTTP headers, etc">
           </p>
           <p><br>[-- text after image --]</p>
       </div>

       <p><br><hr><br></p>

       <h2>Embed code</h2>
       <p>
       <input type="text" 
              value='<img src="http://footer.bunsen.town{% url 'test_image' %}?id={{ uuid }}">' 
              style="width:95%" />
       </p>

       <p><br><hr><br></p>

       <h2>Link to raw image</h2>
       <p>
           <a href="{% url 'test_image' %}?id={{ uuid }}" target="_blank">
               {% url 'test_image' %}?id={{ uuid }}</a>
       </p>

    </body>
</html>
